.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: auto;
  display: flex;
}

.column img {
  width:100%;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  .column img {
   width: 130px;
 }
}

@media screen and (min-width: 768px) {
 .column img {
 width: 300px;
}
}